@font-face {
    font-family: "Pixel";
    src:url("C:\Users\write\Projects\reboot\src\assets\fonts\Pixel-LCD-7.woff") format("woff")
}

@font-face {
    font-family: "Rusty Bucket";
    src:url("C:\Users\write\Projects\reboot\src\assets\fonts\RustyBucket-Regular.ttf") format("truetype")
}
@import "tailwindcss";

@theme {  
    --font-rusty: "Rusty Bucket";
    --font-pixel: Pixel;
}