@font-face {
    font-family: "Pixel";
    src:url("./fonts/Pixel-LCD-7.woff") format("woff")
}

@font-face {
    font-family: "Rusty Bucket";
    src:url("./fonts/RustyBucket-Regular.ttf") format("truetype")
}
@font-face {
    font-family: "Katulamp";
    src:url("./fonts/KATULAMP.OTF") format("opentype")
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    transition: 0.5s;
}

#root, .viewArea {
    height: 100%;
    width: 100%;
}
